@import url("semantic-ui-css/semantic.min.css");

.layout-jhm{
    padding-top: 30px;
    padding-left: 20px;
}

.buton-icon-jhm{
    cursor: pointer;
    background-color: transparent;
    border: none;
}